CLAUDE.md
.DS_Store
hero-original.jpg
medal-original.jpg
night-original.jpg
nightrun-original.jpg
friends-original.jpg
spin-original.jpg
gym1-original.jpg
gym2-original.jpg
gym3-original.jpg
gym4-original.jpg
